/* Reset
============================================================================= */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 62.5%;
  font-weight: inherit;
  color: #114fc2;
}

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.main {
  background: #fcf8e6;
}

.top-container {
  position: relative;
  width: auto;
  margin: 0 3.3vw 0;
  padding: 80px 0 0;
}

.section__inner-full {
  display: block;
}

.intro__01 {
  position: relative;
  display: block;
  margin-bottom: 2.3vw;
}

.intro__01 .intro__photo-01 {
  width: 50vw;
  margin: 0 0 0 2.5vw;
}

.intro__01 .intro__photo-01 img {
  width: 100%;
}

.intro__01 .intro__text {
  position: absolute;
  top: 3.1vw;
  right: 7vw;
  width: 25vw;
  margin: 0;
}

.intro__01 .intro__text img {
  width: 100%;
}

.intro__01 .intro__photo-02 {
  position: relative;
  width: 30vw;
  margin: -3.1vw auto 0;
}

.intro__01 .intro__photo-02::after {
  content: "";
  position: absolute;
  top: 3vw;
  right: 2.5vw;
  background: url(assets/img/intro_fd1.png) no-repeat;
}

.intro__01 .intro__photo-02 .intro__sb {
  position: absolute;
  top: 3vw;
  right: -5.5vw;
  width: 8vw;
  margin: 0;
}

.intro__01 .intro__photo-02 img {
  width: 100%;
}

.intro__01 .intro__illustration-left {
  position: absolute;
  left: 3vw;
  bottom: -2vw;
}

.intro__01 .intro__illustration-left img {
  width: 16vw;
}

.intro__01 .intro__illustration-right {
  position: absolute;
  right: 2.5vw;
  bottom: 4vw;
}

.intro__01 .intro__illustration-right img {
  width: 20vw;
}

.intro__02 {
  position: relative;
  display: block;
  padding-top: 10vw;
  margin-bottom: 2.3vw;
}

.intro__02 .intro__text {
  position: absolute;
  top: 3.1vw;
  left: 0;
  width: 38vw;
  margin: 0;
}

.intro__02 .intro__text img {
  width: 100%;
}

.intro__02 .intro__photo-01 {
  margin: 0 0 0 45vw;
  padding: 0;
}

.intro__02 .intro__photo-01 img {
  width: 100%;
}

.intro__02 .intro__photo-02 {
  position: relative;
  width: 30vw;
  margin: -10vw 8vw 0;
  padding: 0;
}

.intro__02 .intro__photo-02 .intro__sb {
  position: absolute;
  top: -11vw;
  left: -5.5vw;
  width: 12vw;
}

.intro__02 .intro__photo-02 img {
  width: 100%;
}

.intro__02 .intro__illustration-right {
  position: absolute;
  right: 9.5vw;
  bottom: 2vw;
}

.intro__02 .intro__illustration-right img {
  width: 25vw;
}

.intro__03 {
  position: relative;
  display: block;
  margin-bottom: 2.3vw;
}

.intro__03 .intro__photo-01 {
  width: 50vw;
  margin: 0 0 0 2.5vw;
}

.intro__03 .intro__photo-01 img {
  width: 100%;
}

.intro__03 .intro__text {
  position: absolute;
  top: 3.1vw;
  right: 7vw;
  width: 31vw;
  margin: 0;
}

.intro__03 .intro__text img {
  width: 100%;
}

.intro__03 .intro__photo-02 {
  position: relative;
  width: 30vw;
  margin: -11.1vw 0 0 46vw;
}

.intro__03 .intro__photo-02::after {
  content: "";
  position: absolute;
  top: 3vw;
  right: 2.5vw;
  background: url(assets/img/intro_fd1.png) no-repeat;
}

.intro__03 .intro__photo-02 .intro__sb {
  position: absolute;
  top: 3vw;
  right: -5.5vw;
  width: 8vw;
  margin: 0;
}

.intro__03 .intro__photo-02 img {
  width: 100%;
}

.intro__03 .intro__illustration-left {
  position: absolute;
  left: 13vw;
  bottom: -25vw;
}

.intro__03 .intro__illustration-left img {
  width: 16vw;
}

.intro__04 {
  width: 40vw;
  padding: 3vw 0 4vw;
  margin: 0 auto 10vw;
}

.intro__04 .intro__text {
  width: 33vw;
  margin: 0 auto;
}

.intro__04 .intro__text img {
  width: 100%;
}

.intro__04 .intro__more {
  width: 28vw;
  padding: 1.6vw 3vw;
  text-align: center;
  margin: 0 auto;
}

.intro__04 .intro__more a {
  display: block;
  background: #114fc2;
  border-radius: 4px;
  padding: 1.4vw 3vw;
  color: #fff;
}

.section-map {
  position: relative;
  background: #fcf51c;
  margin: 0 -3.3vw;
}

.section-map .section-inner {
  max-width: 960px;
  padding: 6vw 0;
  margin: 0 auto;
}

.section-map__text {
  width: 50%;
}

.section-map__text--title-shoulder {
  font-weight: bold;
  padding: 1.7vw 0;
}

.section-map__text--title img {
  width: 100%;
}

.section-map__text--heading {
  padding: 2vw 0;
  font-size: 1.7vw;
}

.section-map__text--list {
  list-style-position: inside;
  padding: 0 0 2vw;
}

.section-map__text--text {
  padding: 0 0 2vw;
}

.section-map__image-map {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
}

.section-map__image-map img {
  display: inline-block;
  margin: 10vw 0 7vw;
}

.section-discover {
  padding: 6vw 0;
}

.section-discover__text img {
  display: block;
  width: 25vw;
  margin: 0 auto 4vw;
}

.section-discover__text p {
  text-align: center;
  margin: 0 0 10vw;
}

.section-discover .article-wrap {
  position: relative;
}

.section-discover .article-wrap:nth-child(even) .article-card {
  left: 0;
  right: auto;
}

.section-discover .article-wrap__image::after {
  content: '';
  display: block;
  padding-top: 63%;
}

.section-discover .article-wrap__name {
  width: 275px;
  height: 40px;
  padding: 40px 0 0;
  margin: 0 40px 15px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.section-discover .article-wrap .kakudate {
  background: url(../assets/img/hw_kengo_kakudate.png) no-repeat;
  background-size: 275px auto;
  background-position: 0 bottom;
}

.section-discover .article-wrap .sato {
  background: url(../assets/img/hw_kenji_sato.png) no-repeat;
  background-size: 275px auto;
  background-position: 0 bottom;
}

.section-discover .article-wrap .takesue {
  background: url(../assets/img/hw_shiori_takesue.png) no-repeat;
  background-size: 275px auto;
  background-position: 0 bottom;
}

.section-discover .article-wrap__title {
  margin: 0 40px 15px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #010101;
}

.section-discover .article-wrap__description {
  margin: 0 40px 35px;
  font-size: 1.3rem;
  letter-spacing: .07rem;
  color: #9c9078;
}

.section-discover .article-wrap .article-card {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(50% - 40px);
  background: #fcf8e6;
}

.produced {
  padding: 20px 0 0;
  margin: 0 0 20px;
}

.produced-shoulder {
  display: inline-block;
  padding: 0 5px;
}

.produced-logo {
  width: 100px;
  display: inline-block;
}
